 <!-- Enhencer -->
<script type="lazyload2"data-src="https://cdn.enhencer.com/scripts/shopifyCollector.js?token=63679358bf514b0dba0263c1&g_conv_id=10971522326"></script>
<!-- Enhencer End -->

 <!-- Google Optimize -->
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-MZSJ6TW"></script>
 <!-- Google Optimize End-->
   
<!--  ClickCease.com tracking-->
      <script type='lazyload2'>var script = document.createElement('script');
      script.async = true; script.type = 'text/javascript';
      var target = 'https://www.clickcease.com/monitor/stat.js';
      script.src = target;var elem = document.head;elem.appendChild(script);
      </script>
      <noscript>
      <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com' alt='ClickCease'/></a>
      </noscript>
<!--  ClickCease.com tracking-->

<!--  Lucky Orange tracking-->
<script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=b21fda2e"></script>
<!--  Lucky Orange tracking-->

<!--  Viral Sweep -->
<script async type="lazyload2" data-src="https://app.viralsweep.com/assets/js/store.js?id=126854_392495"></script>
<!--  Viral Sweep -->  

<!-- Statcounter code for Borealiswatch.com
http://www.borealiswatch.com on Shopify -->
<script type="text/javascript">
var sc_project=8538569; 
var sc_invisible=1; 
var sc_security="1ffe09c3"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/8538569/0/1ffe09c3/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

<!-- Taboola Pixel Code -->
<script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view', id: 1514830});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1514830/tfa.js',
  'tb_tfa_script');
</script>
<!-- End of Taboola Pixel Code -->